<button nz-button nzType="primary" (click)="open()">Create</button>
<nz-drawer
  [nzVisible]="visible"
  nzTitle="{{ selectedItem ? 'Update Boarding Type' : 'Create Boarding Type' }}"
  (nzOnClose)="close()"
  [nzWidth]="720"
  [nzBodyStyle]="{ overflow: 'auto', backgroundColor: `var(--secondary-bg)` }"
  [nzMaskClosable]="true"
  [nzFooter]="footerTpl">
  <form nz-form *nzDrawerContent>
    <div nz-col nzSpan="24">
      <div nz-row>
        <nz-form-item>
          <nz-form-label>Name</nz-form-label>
          <nz-form-control>
            <input required nz-input placeholder="please enter Boarding type name" [(ngModel)]="request.name" name="name" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <ng-template #footerTpl style="background-color: var(--primary-bg);">
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
      <button nz-button nzType="primary" (click)="submit()" [disabled]="!request.name">
        {{ selectedItem ? 'Update' : 'Create' }}
      </button>
    </div>
  </ng-template>
</nz-drawer>