<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  "
>
  <div style="flex: auto">
    <app-create-boarding-drawer
    [selectedItem]="selectedItem" 
    (onCreate)="createBoarding($event.request)" 
    (onUpdate)="updateBoarding($event.id, $event.request)">
    ></app-create-boarding-drawer>
    <button
      *ngIf="setOfCheckedId.size == 1"
      nz-button
      nzGhost
      nzType="primary"
      (click)="openUpdateDrawer()"
    >
      update
    </button>
    <button
      *ngIf="setOfCheckedId.size > 0"
      nz-button
      nzDanger
      nzType="primary"
      (click)="deleteAllSelected()"
    >
      delete
    </button>
  </div>
  <div>
    <button nz-button nzType="primary" (click)="showFilters = !showFilters">
      {{ showFilters ? "Hide Filters" : "Show Filters" }}
    </button>
  </div>
</div>
<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  "
>
  <div [ngStyle]="{ width: showFilters ? '85%' : '100%' }">
    <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="boardings"
      [nzScroll]="{ y: '70vh' }"
      [nzTotal]="totalElements"
      [nzFrontPagination]="false"
      [(nzPageIndex)]="page"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th
            class="table-header-column"
            nzWidth="100px"
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th class="table-header-column" nzWidth="350px">Id</th>
          <th class="table-header-column" nzWidth="200px">passengerId</th>
          <th class="table-header-column" nzWidth="200px">passengerType</th>
          <th class="table-header-column" nzWidth="200px">boardingType</th>
          <th class="table-header-column" nzWidth="200px">tripId</th>
          <th class="table-header-column" nzWidth="200px">busStopId</th>
          <th class="table-header-column" nzWidth="200px">boardingTime</th>
          <th class="table-header-column" nzWidth="200px">latitude</th>
          <th class="table-header-column" nzWidth="200px">longitude</th>
        </tr>
      </thead>
      <tbody>
        @for (data of rowSelectionTable.data; track data) {
        <tr>
          <td
            class="table-row"
            [nzChecked]="setOfCheckedId.has(data.id)"
            (nzCheckedChange)="onItemChecked(data.id, $event)"
          ></td>
          <td class="table-row">{{ data.id }}</td>
          <td class="table-row">{{ data.passengerId }}</td>
          <td class="table-row">{{ data.passengerType }}</td>
          <td class="table-row">{{ data.boardingType.name }}</td>
          <td class="table-row">{{ data.tripId }}</td>
          <td class="table-row">{{ data.busStopId }}</td>
          <td class="table-row">{{ data.boardingTime | unixTimestamp }}</td>
          <td class="table-row">{{ data.latitude }}</td>
          <td class="table-row">{{ data.longitude }}</td>
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="showFilters" style="width: 15%" class="filters-container">
    <label
      nz-checkbox
      [(ngModel)]="allChecked"
      (ngModelChange)="updateAllChecked()"
      [nzIndeterminate]="value.length > 0 && value.length !== options.length"
    >
      Check all
    </label>

    <nz-divider />

    <nz-checkbox-group
      [nzOptions]="options"
      [(ngModel)]="value"
      (ngModelChange)="updateSingleChecked()"
    ></nz-checkbox-group>
    <!-- <div>PassengerIds</div>
    <div>passengerTypes</div>
    <div>busStopIds</div>
    <div>tripIds</div>
    <div>boardingTypeIds</div> -->
  </div>
</div>
