<div>
    <app-create-points-drawer (onSubmit)="createPoints($event.request)"></app-create-points-drawer>
    <button *ngIf="setOfCheckedId.size > 0" nz-button nzDanger nzType="primary"
      (click)="deleteAllSelected()">delete</button>
  </div>
  
  <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="points" [nzScroll]="{y: '70vh' }" [nzTotal]="totalElements"
    [nzFrontPagination]="false" [(nzPageIndex)]="page" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
      <tr>
        <th class="table-header-column" nzWidth="100px" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"></th>
        <th class="table-header-column" nzWidth="350px">ID</th>
        <th class="table-header-column" nzWidth="200px">Route ID</th>
        <th class="table-header-column" nzWidth="200px">Sequence</th>  
        <th class="table-header-column" nzWidth="200px">Latitude</th>
        <th class="table-header-column" nzWidth="200px">Longitude</th>       
      </tr>
    </thead>
    <tbody>
      @for (data of rowSelectionTable.data; track data) {
      <tr>
        <td class="table-row" [nzChecked]="setOfCheckedId.has(data.id)"
          (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td class="table-row">{{ data.id }}</td>
        <td class="table-row">{{ data.route.id }}</td>
        <td class="table-row">{{ data.sequence }}</td>    
        <td class="table-row">{{ data.latitude }}</td>  
        <td class="table-row">{{ data.longitude }}</td>    
      </tr>
  
      }
    </tbody>
  </nz-table>