<div class="row justify-content-center">
  <div class="col-4">
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          [ngClass]="active == 'login' ? 'nav-link active' : 'nav-link'"
          id="tab-login"
          (click)="onLoginTab()"
        >
          Login
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          [ngClass]="active == 'register' ? 'nav-link active' : 'nav-link'"
          id="tab-register"
          (click)="onRegisterTab()"
        >
          Register
        </button>
      </li>
    </ul>

    <div class="tab-content">
      <div
        [ngClass]="
          active == 'login' ? 'tab-pane fade show active' : 'tab-pane fade'
        "
      >
        <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
          <div class="form-outline mb-4">
            <input
              type="login"
              id="loginName"
              name="login"
              class="form-control"
              [(ngModel)]="login"
              #loginInput="ngModel"
              required              
            />
            <label class="form-label" for="loginName">Username</label>
            <div
              *ngIf="loginInput.invalid && loginInput.touched"
              class="text-danger"
            >
              <small *ngIf="loginInput.errors?.['required']"
                >Username is required.</small
              >              
            </div>
          </div>

          <div class="form-outline mb-4">
            <input
              type="password"
              id="loginPassword"
              name="password"
              class="form-control"
              [(ngModel)]="password"
              #passwordInput="ngModel"
              required
            />
            <label class="form-label" for="loginPassword">Password</label>
          </div>
		  <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger">
			<small *ngIf="passwordInput.errors?.['required']">Password is required.</small>			
		  </div>
		  
		  <div *ngIf="loginError" class="text-danger mb-3">
			<small>{{ loginError }}</small>
		  </div>
          <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="loginForm.invalid">
            Sign in
          </button>
        </form>
      </div>
      <div
        [ngClass]="
          active == 'register' ? 'tab-pane fade show active' : 'tab-pane fade'
        "
      >
        <form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
          <div class="form-outline mb-4">
            <input
              type="text"
              id="firstName"
              name="firstName"
              class="form-control"
              [(ngModel)]="firstName"
              #firstNameInput="ngModel"
              required
            />
            <label class="form-label" for="firstName">First name</label>
          </div>
          <div *ngIf="firstNameInput.invalid && firstNameInput.touched" class="text-danger">
            <small *ngIf="firstNameInput.errors?.['required']">First name is required.</small>
          </div>
          <div class="form-outline mb-4">
            <input
              type="text"
              id="lastName"
              name="lastName"
              class="form-control"
              [(ngModel)]="lastName"
              #lastNameInput="ngModel"
              required
            />
            <label class="form-label" for="lastName">Last name</label>
          </div>
          <div *ngIf="lastNameInput.invalid && lastNameInput.touched" class="text-danger">
            <small *ngIf="lastNameInput.errors?.['required']">Last name is required.</small>
          </div>
          <div class="form-outline mb-4">
            <input
              type="text"
              id="login"
              name="login"
              class="form-control"
              [(ngModel)]="login"
              #usernameInput="ngModel"
              required
            />
            <label class="form-label" for="login">Username</label>
            <div *ngIf="usernameInput.invalid && usernameInput.touched" class="text-danger">
              <small *ngIf="usernameInput.errors?.['required']">Username is required.</small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <input
              type="password"
              id="registerPassword"
              name="password"
              class="form-control"
              [(ngModel)]="password"
              #passwordRegisterInput="ngModel"
              required
              minlength="3"
            />
            <label class="form-label" for="registerPassword">Password</label>
            <div *ngIf="passwordRegisterInput.invalid && passwordRegisterInput.touched" class="text-danger">
              <small *ngIf="passwordRegisterInput.errors?.['required']">Password is required.</small>
              <small *ngIf="passwordRegisterInput.errors?.['minlength']">Password must be at least 3 characters long.</small>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block mb-3" [disabled]="registerForm.invalid">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
