<div>
  <app-create-lines-drawer
  [selectedItem]="selectedItem" 
  (onCreate)="createLine($event.request)" 
  (onUpdate)="updateLine($event.id, $event.request)"
  ></app-create-lines-drawer>
  <button
    *ngIf="setOfCheckedId.size == 1"
    nz-button
    nzGhost
    nzType="primary"
    (click)="openUpdateDrawer()"
  >
    update
  </button>
  <button
    *ngIf="setOfCheckedId.size > 0"
    nz-button
    nzDanger
    nzType="primary"
    (click)="deleteAllSelected()"
  >
    delete
  </button>
</div>

<nz-table
  #rowSelectionTable
  nzShowSizeChanger
  [nzData]="lines"
  [nzScroll]="{ y: '70vh' }"
  [nzTotal]="totalElements"
  [nzFrontPagination]="false"
  [(nzPageIndex)]="page"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="onPageIndexChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        class="table-header-column"
        nzWidth="100px"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th class="table-header-column" nzWidth="350px">Id</th>
      <th class="table-header-column" nzWidth="200px">lineCode</th>
      <th class="table-header-column" nzWidth="200px">
        lineCodeRepresentation
      </th>
    </tr>
  </thead>
  <tbody>
    @for (data of rowSelectionTable.data; track data) {
    <tr>
      <td
        class="table-row"
        [nzChecked]="setOfCheckedId.has(data.id)"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td class="table-row">{{ data.id }}</td>
      <td class="table-row">{{ data.lineCode }}</td>
      <td class="table-row">{{ data.lineCodeRepresentation }}</td>
    </tr>

    }
  </tbody>
</nz-table>
